@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;
    top: 0;

    color: #000;
    background:#FFF;

    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1080px;
}

.logo{
    margin-left: 27px;

    font-size: 50px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-around;

    width: 345px;

    font-size: 20px;

    list-style: none;
    
}

ul a {
    color: #000;
    text-decoration: none;
}

main {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    height: 1024px;
    max-width: 1080px;

    text-align: center;


}

main h1 {
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;

    max-width: 755px;

    font-size: 30px;
}

main img {
    position: relative;
    top: 433px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-radius: 50%;
}

.section1 {
    position: relative;
    max-width: 783px;


    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;

    padding: 0px 20px;

}

.section2{
    position: relative;

    height: 175px;

    text-align: center;

    margin-top: 100px;

}

.line1{
    height: 1px;
    width: 100%;

    background: #626161;
}
.line2{
    height: 1px;
    width: 100%;

    background: #626161;
}

.contact-button{
    position: relative;

    width: 224px;
    height: 57px;

    border: 1px solid #9E452A;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
}

.contact-button:hover{
    cursor: pointer;
    background: #9E453A;
    color: #FFF;
}


.arrow {
    position: absolute;
    top: 23.5px;
    right: 24px;
}        

footer {

    width: 100%;
    height: 165px;

    text-align: center;
}

.footer-content{
    margin-top: 70px;
}