/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f6f6f6;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9E452A;
}