@import './header';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F6f6f6;
}
.prof-card {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    top: 312px;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 400px;
    width: 400px;

    border-radius: 25px;
    box-shadow: 0px 5px 20px 0px #626262;
}

.prof-picture{
    position: absolute;
    top: 55px;

    border-radius: 50%;
    border: 4px solid #F6F6F6;

    width: 100px;
    height: 100px;
}

.profbackground{
    border-radius: 25px 25px 0px 0px;

    width: 100%;
    height: 100px;
}

.text {
    text-align: center;
    position: relative;
    top: 64px;
    
    margin-left: auto;
    margin-right: auto;
}

.text span{
    color: #626262;
    p{
        font-size: 20px;
    }
}

.line{
    position: absolute;
    bottom: 118px;

    height: 2px;
    width: 100%;
    background: #626262;
}

.media-container{
    position: absolute;
    bottom: 35px;

    display: flex;
    justify-content: space-around;


    width: 100%;

}


#instagram:hover{
    fill: #9E452A;
    transition: 0.4s;
}

#github:hover{
    fill: #9E452A;
    transition: 0.4s;
}

#linkedin:hover{
    fill: #9E452A;
    transition: 0.4s;
}
#email:hover{
    fill: #9E452A;
    transition: 0.4s;
}