

.finder{
    display: none;

    position: absolute;
    border: 1px solid rgb(54, 54, 54);
    width: 800px;
    height: 500px;

    left: 600px;
    top: 50px;

    background: #1E1E1E;
    border-radius: 10px;
}

.finder-header{
    position: absolute;
    // border: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 650px;
    left: 150px;
    height: 49px;
    z-index: 1;

    .arrow{
        margin: 0 15px;
    }

    .search{
        margin: 0 30px;
    }
}

.finder-sidebar{
    width: 150px;
    height: 498px;
    background: rgba(50, 50, 50, 0.95);
    backdrop-filter: blur(48px);
    border-radius: 10px 0px 0px 10px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.finder-buttons{
    height: 46px;
    // border: 1px solid red;

    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    left: 1px;
}

.favorites{
    width: 118px;
    height: 183px;
    header{
        height: 13px;
    }
}


.font-change{
    font-size: 11px;
    color: #888888;
}

.finder-sidebar-item{
    display: flex;
    align-items: center;

    height: 28px;
    border-radius: 7px;
    background-color: rgba(50, 50, 50, 0.95);
    font-size: 13px;
    letter-spacing: 1px;
    &:hover{
        cursor: pointer;
        filter: brightness(150%);
    }
    img{
        margin: 8px 6px 6px 6px;
    }
}

.drive{
    height: 45px;
    header{
        height: 13px;
    }
}
.tags{
    height: 157px;
    header{
        height: 13px;
    }
}
.remove-bullets{
    list-style-type: none;
}

.finder-main{
    overflow: auto;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    .profile-wrap{
        // border: 1px solid red;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }
    .text-wrap{
        text-align: center;
        p{
            margin: 48px 0;
        }
    }
}

/*
 *  Scrollbar Style
 */

 #style-1::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #1e1e1e00;
 }
 
 #style-1::-webkit-scrollbar
 {
     width: 12px;
     background-color: #1e1e1e00;
 }
 
 #style-1::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #313131;
 }