
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1.5s;
}

.profile-wrap{
    filter: blur(5px);
    transform: translateX(-100%);
}



.finder-about-folders a:nth-child(1){
    transition: 0.35s;
    transition-timing-function: ease-out;
    transition-delay: 10ms;
}
.finder-about-folders a:nth-child(2){
    transition: 0.35s;
    transition-timing-function: ease-out;
    transition-delay: 100ms;
}
.finder-about-folders a:nth-child(3){
    transition: 0.35s;
    transition-timing-function: ease-out;
    transition-delay: 150ms;
}
.finder-about-folders a:nth-child(4){
    transition: 0.35s;
    transition-timing-function: ease-out;
    transition-delay: 200ms;
}


.show-content{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transform: translateX(0);
}