@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg: #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html {
  overflow-y: hidden;
}

body {
  background: url("../imagens/background.jpg");
  background-size: cover;
  font-family: "Verdana";
  font-size: 14px;
  letter-spacing: 0px;
  color: #FFF;
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#icon-top-left {
  height: 30px;
  margin-top: 4px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  width: 100vw;
  height: 25px;
  padding: 0 10px;
}
.top-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}
.top-nav ul li {
  list-style: none;
}

.control:hover {
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  position: absolute;
  color: #f1f1f1;
  width: 250px;
  height: 250px;
  margin-top: 5px;
  left: -105px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 16px;
}
.dropdown-content .dropdown-flex {
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 48%;
}
.dropdown-content .dropdown-flex .dropdown-item {
  background: none;
  margin: 5px 0 0 5px;
  width: 48%;
  display: flex;
  flex-direction: column;
}
.dropdown-content .dropdown-flex .dropdown-item a {
  height: 25px;
}
.dropdown-content .dropdown-flex .dropdown-item:last-child {
  margin: 5px 5px 0 5px;
}
.dropdown-content .dropdown-flex .dropdown-item2 {
  background: none;
  width: 99%;
  height: 97%;
  margin: 0 5px;
}

.menu-icon {
  width: 24px;
}

.show {
  display: flex;
}

.glass-effect {
  /* From https://css.glass */
  background: var(--theme-bg-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--border-color);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid var(--border-color);
}

.bottom-nav {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  margin: 0 50%;
  transform: translate(-50%);
}
.bottom-nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 75px;
}
.bottom-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition: 0.2s;
}
.bottom-nav ul li:hover {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.bottom-nav ul li:first-child {
  margin-left: 13px;
}
.bottom-nav ul li:last-child {
  margin-right: 13px;
}

.navbar-icon {
  width: 60px;
  transition: 0.2s;
}/*# sourceMappingURL=index.css.map */