@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  top: 0;
  color: #000;
  background: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#F6F6F6));
  background-image: linear-gradient(#d3d3d3, #F6F6F6);
  z-index: 1;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1080px;
}

header .logo {
  margin-left: 27px;
  font-size: 50px;
  font-weight: bold;
}

header .logo a {
  color: black;
  text-decoration: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 345px;
  font-size: 20px;
  list-style: none;
}

header ul a {
  color: #000;
  text-decoration: none;
  -webkit-text-decoration-color: #FFF;
          text-decoration-color: #FFF;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #9E453A;
          text-decoration-color: #9E453A;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #F6f6f6;
}

main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 1024px;
  max-width: 1080px;
  text-align: center;
}

main h1 {
  position: relative;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 755px;
  font-size: 2em;
}

main img {
  position: relative;
  top: 233px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 375px;
  border-radius: 50%;
}

.section1 {
  position: relative;
  max-width: 783px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.autores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
}

.projetos {
  position: relative;
  margin: auto;
  max-width: 1080px;
}

.projetos h2 {
  position: relative;
  top: 100px;
  padding: 0px 47px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8em;
  max-width: 755px;
}

.projetos .proj1 h3, .projetos .proj2 h3 {
  -webkit-text-decoration-color: #FFF;
          text-decoration-color: #FFF;
}

.projetos .proj1 h3:hover, .projetos .proj2 h3:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #9E452A;
          text-decoration-color: #9E452A;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.projetos .proj1, .projetos .proj2 {
  margin: 0px 27px;
}

.projetos .proj1 h2, .projetos .proj2 h2 {
  margin: 50px 0px 55px;
}

.projetos .proj1 p, .projetos .proj2 p {
  margin: 23px 0px 48px;
}

.projetos .proj-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projetos .proj2::before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-color: #666;
}

.projetos .proj-description a {
  -webkit-text-decoration-color: #FFF;
          text-decoration-color: #FFF;
}

.projetos .proj-description a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #9E452A;
          text-decoration-color: #9E452A;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.projetos img {
  max-width: 100%;
  opacity: 0.8;
}

.projetos img:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.section2::before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-color: #626161;
}

.section2 {
  position: relative;
  height: 175px;
  text-align: center;
  margin-top: 100px;
}

.section2::after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 100%;
  background: #626161;
}

.contact-button {
  position: relative;
  width: 224px;
  height: 57px;
  border: 1px solid #9E452A;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.contact-button:hover {
  cursor: pointer;
  background: #9E453A;
  color: #FFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: #000;
}

footer {
  position: absolute;
  width: 100%;
  height: 165px;
  text-align: center;
}

.footer-content {
  margin-top: 70px;
}

#svgsbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

svg {
  padding: 0px 5px;
}

#svgs a {
  text-decoration: none;
}

svg:hover {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#instagram:hover {
  fill: #9E452A;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#github:hover {
  fill: #9E452A;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#linkedin:hover {
  fill: #9E452A;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
/*# sourceMappingURL=index.css.map */