@import './header';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F6f6f6;
}

main { 
    position: relative;
    margin-left: auto;
    margin-right: auto;

    height: 1024px;
    max-width: 1080px;

    text-align: center;

    h1 {
        position: relative;
        top: 200px;
        margin-left: auto;
        margin-right: auto;
    
        max-width: 755px;
    
        font-size: 2em;
    }

    img {
        position: relative;
        top: 233px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 375px;
        border-radius: 50%;
    }
}


.section1 {
    position: relative;
    max-width: 783px;
    
    
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 0px 20px;
    
}

.autores{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.projetos{
    position: relative;
    margin: auto;
    max-width: 1080px;
    h2 {
        position: relative;
        top: 100px;
        padding: 0px 47px;
        margin-left: auto;
        margin-right: auto;
    
        font-size: 1.8em;
    
        max-width: 755px;
    }
    .proj1 h3, .proj2 h3{
        text-decoration-color: #FFF;
    }
    
    .proj1 h3:hover, .proj2 h3:hover{
        text-decoration: underline;
        text-decoration-color: #9E452A;
        transition: 0.6s;
    }
    
    .proj1, .proj2{
        margin: 0px 27px;
    }
    
    .proj1 h2, .proj2 h2{
        margin: 50px 0px 55px;
    }
    
    .proj1 p, .proj2 p{
        margin: 23px 0px 48px;
    }
    
    .proj-description {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .proj2::before{
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background-color: #666;
    }
    
    .proj-description a{
        text-decoration-color: #FFF;
    }
    
    .proj-description a:hover{
        text-decoration: underline;
        text-decoration-color: #9E452A;
        transition: 0.6s;
    }
    
    img{
        max-width: 100%;
        opacity: 0.8;
        &:hover{
            cursor: pointer;
            opacity: 1;
            transition: 0.6s;
        }
    }
}

.section2::before{
    display: block;
    content: '';
    height: 1px;
    width: 100%;

    background-color: #626161;
}

.section2{
    position: relative;

    height: 175px;

    text-align: center;

    margin-top: 100px;

}


.section2::after{
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;

    background: #626161;
}

.contact-button{
    position: relative;

    width: 224px;
    height: 57px;

    border: 1px solid #9E452A;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    &:hover{
        cursor: pointer;
        background: #9E453A;
        color: #FFF;
        transition: 0.4s;
    }
}

a{
    text-decoration: none;
    color: #000;
}

footer {
    position: absolute;

    width: 100%;
    height: 165px;

    text-align: center;
}

.footer-content{
    margin-top: 70px;
}

#svgsbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
svg{
    padding: 0px 5px;
}
#svgs a{
    text-decoration: none;
}

svg:hover{
    width: 40px;
    height: 40px;
    transition: 0.4s;
}

#instagram:hover{
    fill: #9E452A;
    transition: 0.1s;
}

#github:hover{
    fill: #9E452A;
    transition: 0.1s;
}


#linkedin:hover{
    fill: #9E452A;
    transition: 0.1s;
}